<div id="welcome">
<h1>Welcome to DAily TAsks</h1>
<p>You're just one step away from utilizing this simple daily task manager.</p>
<p>An activation email has been sent to the e-mail address you provided.</p>
<p>Follow the instructions in it to activate your account</p>
<p>Thanks</p>
<p>The DAilyTAsks Team</p>
</div>